# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.mortgage-plan.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\mortgage-plan\.idea\.idea.mortgage-plan.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
